In [ ]:
import pandas as pd
#删除缺失值过高的列
# 读取 Excel 文件
df = pd.read_excel('data/Copy of Training.xlsx')  # 替换为实际的文件名

# 要删除的列名列表
columns_to_drop = [
    "Big Contact: Interest Finder - Entertainment",
    "Big Contact: Interest Finder - Hobbies",
    "Big Contact: Interest Finder - Places To Go",
    "Big Contact: Interest Finder - Sports",
    "Little Contact: Interest Finder - Other Interests",
    "Big Open to Cross-Gender Match",
    "Little Contact: Language(s) Spoken",
    "Big Contact: Preferred Communication Type",
    "Big Contact: Former Big/Little",
    "Little Contact: Interest Finder - Career",
    "Little Contact: Interest Finder - Three Wishes",
    "Little Contact: Interest Finder - Arts",
    "Little Contact: Interest Finder - Entertainment",
    "Little Contact: Interest Finder - Hobbies",
    "Little Contact: Interest Finder - Outdoors",
    "Little Contact: Interest Finder - Personality",
    "Little Contact: Interest Finder - Places To Go",
    "Little Contact: Interest Finder - Sports",
    "Big Car Access",
    "Little RTBM Date in MF",
    "Big Employer/School Census Block Group",
    "Big Contact: Volunteer Availability",
    "Little Other Interests"
]

# 删除这些列（如果存在）
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns])

# 保存处理后的数据
df.to_excel('data-process/training_dropped.xlsx', index=False)

In [ ]:
%whos

Variable          Type         Data/Info
----------------------------------------
columns_to_drop   list         n=23
df                DataFrame              Match ID 18Char<...>[39345 rows x 45 columns]
pd                module       <module 'pandas' from 'c:<...>es\\pandas\\__init__.py'>

In [ ]:
df["Closure Reason"]
df["Match ID 18Char"]

,Match ID 18Char,Completion Date,Match Support Contact Notes,Stage,Little ID,Big ID,Big County,Big Age,Big Occupation,Big: Military,...,Little Moved to RTBM in MF,Little Application Received,Little Interview Date,Little Acceptance Date,Little Gender,Little Participant: Race/Ethnicity,Little Birthdate,Little Mailing Address Census Block Group,Big Home Census Block Group,Match Length
0,a1v2J0000028pRvQAI,2017-11-30,Question: Activities: Answer: See ms...,Closed,0032J00003PLe29QAD,0032J00003PhDOI,Hennepin,40,Unemployed,NaN,...,NaN,NaT,NaT,NaT,Female,Black or African American,2004-01-01,2.705303e+11,2.705302e+11,9.0
1,a1v2J0000028pRvQAI,2017-10-31,Question: Activities: Answer: See MS...,Closed,0032J00003PLe29QAD,0032J00003PhDOI,Hennepin,40,Unemployed,NaN,...,NaN,NaT,NaT,NaT,Female,Black or African American,2004-01-01,2.705303e+11,2.705302e+11,9.0
2,a1v2J0000028pRvQAI,2017-12-01,Question: Activities: Answer: Match ...,Closed,0032J00003PLe29QAD,0032J00003PhDOI,Hennepin,40,Unemployed,NaN,...,NaN,NaT,NaT,NaT,Female,Black or African American,2004-01-01,2.705303e+11,2.705302e+11,9.0
3,a1v2J0000028pRvQAI,2017-05-29,Question: Activities: Answer: Msc as...,Closed,0032J00003PLe29QAD,0032J00003PhDOI,Hennepin,40,Unemployed,NaN,...,NaN,NaT,NaT,NaT,Female,Black or African American,2004-01-01,2.705303e+11,2.705302e+11,9.0
4,a1v2J0000028pRvQAI,2017-04-30,Question: Activities: Answer: Msc as...,Closed,0032J00003PLe29QAD,0032J00003PhDOI,Hennepin,40,Unemployed,NaN,...,NaN,NaT,NaT,NaT,Female,Black or African American,2004-01-01,2.705303e+11,2.705302e+11,9.0

In [6]:
df_unique = df.drop_duplicates(subset="Match ID 18Char", keep='first')

In [8]:
# 去掉 closure reason 为 NaN 或 空字符串 或 全是空格 的行
df_unique = df_unique[df_unique['Closure Reason'].notna() & (df_unique['Closure Reason'].str.strip() != "")]

In [9]:
reason_counts = df_unique['Closure Reason'].value_counts()

In [10]:
reason_counts

Closure Reason
Volunteer: Time constraint                                 401
Child: Changed school/site                                 186
Volunteer: Moved                                           166
Child: Lost interest                                       152
Volunteer: Lost contact with child/agency                  138
Volunteer: Moved out of service area                       130
COVID impact                                               120
Child/Family: Lost contact with volunteer/agency           116
Child/Family: Moved                                        112
Successful match closure                                    95
Child/Family: Lost contact with agency                      89
Child: Graduated                                            78
Volunteer: Feels incompatible with child/family             77
Agency: Challenges with program/partnership                 74
Child/Family: Feels incompatible with volunteer             66
Volunteer: Lost contact with child/family                   64
Volunteer: Changed workplace/school partnership             62
Child/Family: Time constraints                              57
Volunteer: Lost contact with agency                         53
Child/Family: Moved out of service area                     53
Volunteer: Health                                           47
Child/Family: Lost contact with volunteer                   33
Volunteer: Infraction of match rules/agency policies        25
Volunteer: Unrealistic expectations                         25
Child/Family: Unrealistic expectations                      19
Child: Severity of challenges                               17
Child: Family structure changed                             15
Child/Family: Infraction of match rules/agency policies      8
Volunteer: Deceased                                          6
Child/Family: Moved within service area                      2
Volunteer: Moved within service area                         1
Agency: Concern with Volunteer re: child safety              1
Changing Match Type                                          1
Name: count, dtype: int64

In [11]:
df = pd.read_excel("data-process/training_dropped.xlsx")

In [14]:
df.columns

Index(['Match ID 18Char', 'Completion Date', 'Stage', 'Big Age',
       'Big Occupation', 'Big Gender', 'Program Type', 'Match Activation Date',
       'Rationale for Match', 'Little Gender', 'Little Birthdate',
       'Match Length'],
      dtype='object')

In [ ]:
# 读取 Excel 文件
df = pd.read_excel('training_dropped.xlsx')

# 清理列名空格
df.columns = df.columns.str.strip()

# 转换 Completion Date 为 datetime 格式
df['Completion Date'] = pd.to_datetime(df['Completion Date'], errors='coerce')

# 删除 Completion Date 为缺失的行
df = df.dropna(subset=['Completion Date'])

# 按 Match ID 和 Completion Date 排序
df = df.sort_values(['Match ID 18Char', 'Completion Date']).reset_index(drop=True)

# 分组计算时间差
df['Days Since Last Completion'] = (
    df.groupby('Match ID 18Char')['Completion Date']
    .diff()
    .dt.days
    .fillna(0)
    .astype(int)
)